header{
  font-weight: bold;
  margin: 0px;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

body{
  background-image: url('./img/Blue_background.jpg');
  background-color: #000000;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0;
}

nav{
  background-color: rgba(10,10,10,0);
}

nav ul{
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

nav li{
  display: table-cell;
}

nav li a{
  /* color */
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: center;
  boder: 1px solid #e0e0d1;
  padding: 8px 100px;
}

.Primero{
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
}

.Segundo{
  text-align: center;
  width: 80%;
  margin: auto auto;
}

.Info{
  text-align: center;
  font-size: 15px;
  width: 80%;
  color: #FFFFFF;
  margin: auto auto;
}

#Pres article{
  padding: 10px 10px;
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  margin: 15px;
}
